# snippet trigger description options
# source lang
#
snippet so "source lang"
<source lang=${1:language}>
$0
</source>
endsnippet

snippet soin "source lang inline"
<source lang=${1:language} inline>$0</source>
endsnippet

snippet sopy "source python"
<source lang=py>
$0
</source>
endsnippet

snippet soba "source bash"
<source lang=bash>
$0
</source>
endsnippet

snippet sosh "source shell"
<source lang=sh>
$0
</source>
endsnippet

# sovi
# sopl
# sowinbatch
# soini
# solua
